@page
@model App.Endpoints.RazorPages.UI.Areas.Admin.Pages.AllUsersModel
@{
    string roleName = "";
}

<div class="body d-flex py-lg-3 py-md-2">
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="border-0 mb-4">
                <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                    <h3 class="fw-bold mb-0">اطلاعات مشتریان</h3>
                    <div class="col-auto d-flex w-sm-100">
                        @* <button type="button" class="btn btn-primary btn-set-task w-sm-100" data-bs-toggle="modal" data-bs-target="#expadd"><i class="icofont-plus-circle me-2 fs-6"></i>اضافه کردن مشتریان</button> *@
                    </div>
                </div>
            </div>
        </div> <!-- Row end  -->
        <div class="row clearfix g-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>شناسه</th>
                                    <th>مشتریان</th>
                                    <th>ایمیل</th>
                                    <th>تلفن</th>
                                    <th>نقش</th>
                                    <th>اقدامات</th>
                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model.users)
                                {
                                    <tr>
                                        <td><strong>@item.Id</strong></td>
                                        <td>
                                            <a href="customer-detail.html">
                                                <span class="fw-bold ms-1">@item.FirstName @item.LastName</span>
                                            </a>
                                        </td>
                                        <td>@item.Email</td>
                                        <td>@item.PhoneNumber</td>
                                        @{
                                            foreach (var role in item.Roles)
                                            {
                                                if (role == "Admin")
                                                {
                                                    roleName = "ادمین";
                                                    break;
                                                }
                                                else if (role == "Seller")
                                                {
                                                    roleName = "فروشنده";
                                                }
                                                else
                                                {
                                                    roleName = "مشتری";
                                                }
                                            }
                                        }
                                        <td>@roleName</td>

                                        <td>
                                            <div class="btn-group" role="group" aria-label="مثال اصلی طرح شده">
                                                @if (!item.IsRemoved)
                                                {
                                                    @if (!item.IsActive)
                                                    {
                                                        <form method="post" asp-page-handler="Active" asp-route-id="@item.Id">
                                                            <button type="submit" class="btn btn-danger mt-3">فعال کردن</button>
                                                        </form>
                                                    }
                                                    else
                                                    {
                                                        <form method="post" asp-page-handler="DeActive" asp-route-id="@item.Id">
                                                            <button type="submit" class="btn btn-success mt-3">غیرفعال کردن</button>
                                                        </form>
                                                    }

                                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#expedit" onclick="editCustomer('@item.FirstName', '@item.LastName', '@item.Email', '@item.PhoneNumber', '@item.Id')">
                                                        <i class="icofont-edit text-success"></i>
                                                    </button>

                                                    <form method="post" asp-page-handler="Delete" asp-route-id="@item.Id" class="ms-1">
                                                        <button type="button" class="btn btn-outline-secondary deleterow"><i class="icofont-ui-delete text-danger"></i></button>
                                                    </form>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="btn btn-success mt-3">این کاربر حذف شده است</button>
                                                }
                                            </div>
                                        </td>
                                    </tr>



                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- Row End -->
    </div>
</div>
<!-- Edit Customers-->
<div class="modal fade" id="expedit" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title  fw-bold" id="expeditLabel"> ویرایش مشتریان</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-page-handler="Update">
                <div class="modal-body">
                    <div class="deadline-form">

                        <div class="row g-3 mb-3">
                            <div class="col-sm-12">
                                <label for="item1" class="form-label">نام</label>
                                <input type="text" class="form-control" id="item1" name="FirstName">
                            </div>
                            <div class="col-sm-12">
                                <label for="taxtno1" class="form-label">نام خانوادگی</label>
                                <input type="text" class="form-control" id="taxtno1" name="LastName">
                            </div>
                        </div>
                        <div class="row g-3 mb-3">
                            <div class="col-sm-6">
                                <label for="mailid" class="form-label">ایمیل</label>
                                <input type="text" class="form-control" id="mailid" name="Email">
                            </div>
                            <div class="col-sm-6">
                                <label for="phoneid" class="form-label">تلفن</label>
                                <input type="text" class="form-control" id="phoneid" name="PhoneNumber">
                                <input type="hidden" class="form-control" id="id" name="Id">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">ذخیره</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    function editCustomer(firstName, lastName, email, phoneNumber, id) {
        // Set values in the modal form fields
        document.getElementById('item1').value = firstName;
        document.getElementById('taxtno1').value = lastName;
        document.getElementById('mailid').value = email;
        document.getElementById('phoneid').value = phoneNumber;
        document.getElementById('id').value = id;
    }
</script>